doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='AI data science machine learning analytics engineering')
    link(rel='shortcut icon', type='image/png', href='../assets/favicon.ico')
    title Stojan Jovanovi&#x107;
    style.
      a,section{color:#fff}
  body
    canvas#perlin

    section
      .row.column
        .title Stojan Jovanovi&#x107;, Ph.D.
        .subtitle UK Tech Nation Exceptional Talent
        div ~/ Machine Learning Engineering /~
        div ~/ Analytics Engineering /~
        div ~/ AI Systems Architecture /~

      .row stojanjo@pm.me

      .row
        a.i(href='https://linkedin.com/in/stojanjovanovic211287')
          svg(viewBox='0 1 32 32')
            path(d='M12 12h5.535v2.837h.079c.77-1.381 2.655-2.837 5.464-2.837C28.92 12 30 15.637 30 20.367V30h-5.769v-8.54c0-2.037-.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509V30H12V12zM2 12h6v18H2V12zM8 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0z')
        a.i(href='https://github.com/stojan211287')
          svg(viewBox='0 0 32 32')
            path(d='M16 .395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182.8.148 1.094-.347 1.094-.77 0-.381-.015-1.642-.022-2.979-4.452.968-5.391-1.888-5.391-1.888-.728-1.849-1.776-2.341-1.776-2.341-1.452-.993.11-.973.11-.973 1.606.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33.143-1.034.558-1.74 1.016-2.14-3.554-.404-7.29-1.777-7.29-7.907 0-1.747.625-3.174 1.649-4.295-.166-.403-.714-2.03.155-4.234 0 0 1.344-.43 4.401 1.64a15.353 15.353 0 0 1 4.005-.539c1.359.006 2.729.184 4.008.539 3.054-2.07 4.395-1.64 4.395-1.64.871 2.204.323 3.831.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895.574.497 1.085 1.47 1.085 2.963 0 2.141-.019 3.864-.019 4.391 0 .426.288.925 1.099.768C27.421 29.457 32 23.462 32 16.395c0-8.837-7.164-16-16-16z')
        a.i(href='https://math.stackexchange.com/users/61080/stojan-jovanovi%c4%87')
          svg(viewBox='0 0 32 32')
            path(d='M32 20v12H0V20h4v8h24v-8zM6 22h20v4H6zm.473-4.329l.866-3.905 19.526 4.328-.866 3.905zm2.266-8.029l1.69-3.625 18.126 8.452-1.69 3.625zm22.252 1.654l-2.435 3.173L12.689 2.294 14.45 0h1.82z')
        a.i(href='StojanJovanovicCV.pdf')
          svg(viewBox='-1 0 32 32')
            path(d='M27 0H3C1.35 0 0 1.35 0 3v26c0 1.65 1.35 3 3 3h24c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-1 28H4V4h22v24zM8 18h14v2H8zm0 4h14v2H8zm2-13a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm5 3h-4c-1.65 0-3 .9-3 2v2h10v-2c0-1.1-1.35-2-3-2z')
        a.i(href='https://scholar.google.com/citations?user=bFMMLdIAAAAJ&hl=en')
          svg(viewBox='0 0 32 32')
            path(d='M0 32C4 20 14.469 0 32 0c-8.219 6.594-12 22-18 22H8L2 32H0z')

    footer
      a(href='https://github.com/stojan211287/stojanjovanovic') Page source code

    script(src="./index.ts")
